<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>BatteryIncluded Configuration</title>
        <title lang="de-DE">BatteryIncluded Konfiguration</title>

        <input-field>
            <name>apiUrl</name>
            <required>true</required>
            <label>BatteryIncluded api url</label>
            <defaultValue>https://api.batteryincluded.io</defaultValue>
        </input-field>

        <input-field>
            <name>collection</name>
            <required>true</required>
            <label>BatteryIncluded Collection</label>
        </input-field>

        <input-field>
            <name>browserApiKey</name>
            <required>true</required>
            <label>Public Api Key</label>
        </input-field>

        <input-field>
            <name>serverApiKey</name>
            <required>true</required>
            <label>Server Api Key</label>
        </input-field>

        <input-field type="int">
            <name>apiTimeout</name>
            <label>Api timeout</label>
            <defaultValue>500</defaultValue>
            <required>true</required>
        </input-field>

        <component name="elio-battery-included-test-api-connection">
            <name>testApiConnection</name>
        </component>
    </card>
    <card>
        <title>Promotions Configuration</title>
        <title lang="de-DE">Promotions Konfiguration</title>

        <input-field type="textarea">
            <name>promotionTemplate</name>
            <label>Template of displayed promotion for search and listing</label>
            <label lang="de-DE">Vorlage der angezeigten Werbung für Suche und Auflistung</label>
            <helpText>Variables that will be replaced in promotion template: %url%, %imageUrl%, %alt%</helpText>
            <helpText lang="de-DE">Variablen, die in der Werbevorlage ersetzt werden: %url%, %imageUrl%, %alt%</helpText>
        </input-field>

        <input-field type="textarea">
            <name>suggestPromotionTemplate</name>
            <label>Template of displayed promotion for suggest</label>
            <label lang="de-DE">Vorlage für angezeigte Werbung für suggest</label>
            <helpText>Variables that will be replaced in promotion template: %url%, %imageUrl%, %alt%</helpText>
            <helpText lang="de-DE">Variablen, die in der Werbevorlage ersetzt werden: %url%, %imageUrl%, %alt%</helpText>
        </input-field>
    </card>
    <card>
        <title>Sync Configuration</title>
        <title lang="de-DE">Sync Konfiguration</title>

        <input-field type="int">
            <name>startLevelExport</name>
            <label>Category tree export level</label>
            <label lang="de-DE">Export-Level des Kategoriebaums</label>
            <defaultValue>2</defaultValue>
            <min>1</min>
            <helpText>Determines the position in a product's category tree from which it will be exported in the sync. 1 means it starts at the first category, e.g. Home, while each higher number moves one child category down in the tree.</helpText>
            <helpText lang="de-DE">Bestimmt die Position im Kategoriebaum eines Produkts, ab welcher jener im Sync exportiert wird. 1 bedeutet, dass er ab der ersten Kategorie beginnt, z.B. Home, während jede höhere Zahl im Baum eine Kind-Kategorie weiterrückt.</helpText>
        </input-field>
    </card>
</config>
