<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>BatteryIncluded configuration</title>
        <title lang="de-DE">BatterieInklusive Konfiguration</title>

        <input-field>
            <name>apiUrl</name>
            <required>true</required>
            <label>BatteryIncluded api url</label>
            <label lang="de-DE">BatteryIncluded api url</label>
        </input-field>

        <input-field>
            <name>collection</name>
            <required>true</required>
            <label>BatteryIncluded collection</label>
            <label lang="de-DE">BatterieInbegriffene Sammlung</label>
        </input-field>

        <input-field>
            <name>browserApiKey</name>
            <required>true</required>
            <label>Browser Api Key</label>
            <label lang="de-DE">Browser Api Schlüssel</label>
        </input-field>

        <input-field>
            <name>serverApiKey</name>
            <required>true</required>
            <label>Server Api Key</label>
            <label lang="de-DE">Server Api Schlüssel</label>
        </input-field>

        <input-field type="int">
            <name>apiTimeout</name>
            <label>Api timeout</label>
            <label lang="de-DE">Api-Zeitüberschreitung</label>
        </input-field>
    </card>
</config>
